@{
    ViewBag.Title = "Careeria";
}

<div class="jumbotron">
    <h1>Careeria</h1>
    <p class="lead">This is the product registry of Careeria</p>
    <p class="lead">Tämä on Careerian tuoterekisteri</p>
    <p class="lead">Det här är Careerias produktregister</p>
    <p><a href="http://careeria.fi" class="btn btn-primary btn-lg">Careeria.fi &raquo;</a></p>
</div>
